@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Placeholder</p>
    <p>Placeholder</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PlaceHolder</h2>
        <p>
            Placeholder
        </p>
        <p>Placeholder</p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Placeholder</p>
        <p>Placeholder</p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>Placeholder</p>
        <p>Placeholder</p>
    </div>
</div>